/* Add a black background color to the top navigation */
.topnav {
 background-color: #501313;
  overflow: hidden;
  display:flex;
  justify-content:space-around;
}
*{
  background-color:#077576;
  margin:0px;
  padding:0px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: center;
  display:flex;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
  background-color: #501313;
  
}


/* Change the color of links on hover */
.topnav a:hover {
  background-color: #D0D3D4;
  color: white;
}
.topnav a:visited {
  background-color:#464545 ;
  color: white;
}

/* Add an active class to highlight the current page */
.topnav a:active {
  background-color: #AF7AC5;
  color: white;
  width:150px;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}
h1{
  font-family: 'Poppins', sans-serif;
  margin: 0em;
  font-size:5em;
  color: #ECB60F;
  font-style: bold;
  
}

body {
  font-family: calibri light, sans-serif;
  margin: 2em;
  color: white;
}

h3 {
  font-style: regular:
      color: #333;
}
body {background-color: #F7F9F9 ;}

.imggrid
{ display:grid;
  grid-template-rows:repeat(2, 1fr) ;
  grid-template-columns:repeat(2,1fr);
  grid-gap: 1px;
}

header{  text-align:center;
}
body h2 b{
  font-size:2em;
}
div b {
  color: #ECB60F;
}
#datetime{
  font-size:1em;
}