h1{
  font-family: 'Poppins', sans-serif;
  margin: 0em;
  font-size: 50px;
}

body {
  font-family: calibri light, sans-serif;
  margin: 2em;
}

h1 {
  font-style: bold;
  color: #333;
}
/* Add a black background color to the top navigation */
.topnav {
  background-color: #F7F9F9;
  overflow: hidden;
  display:flex;
  justify-content:space-around;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: center;
  display:flex;
  display: block;
  color: #212F3D;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #D0D3D4;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #AF7AC5;
  color: white;
}
h2{
  font-size: 2em;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}
body {background-color: #F7F9F9 ;}
header{  text-align:center;
}
