h1{
  font-family: 'Poppins', sans-serif;
  margin: 0em;
  font-size:5vw;
  color: #ECB60F;
  font-style: bold;
}

body {
  font-family: calibri light, sans-serif;
  margin: 2em;
}
/* Add a black background color to the top navigation */
.topnav {
  overflow: hidden;
  display:flex;
  background-color: #501313;
  justify-content:space-around;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: center;
  display:flex;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
  background-color: #501313;
}
*{
  background-color:#077576;
  margin:0px;
  padding:0px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #D0D3D4;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a:active {
  background-color: #AF7AC5;
  color: white;
  width:150px;
}
.topnav a:visited {
  background-color:#464545 ;
  color: white;
}
h2{
  font-size: 2em;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}
body {background-color: #F7F9F9 ;
color: white;}
header{  text-align:center;
}

#myImage {
 width:15%;
  float:left;
  margin-right: 15px;
}
}
#myText
{

}
img {
 width:100%;
  
}
#somecontent{
  clear:both;
}
p{font-size:1.1em;}
#datetime{
  font-size:1em;
}