/* Add a black background color to the top navigation */
.topnav {
  background-color: #F7F9F9;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #212F3D;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

h1{
      font-family: 'Poppins', sans-serif;
      margin: 0em;
      font-size: 50px;
      
    }
/* Change the color of links on hover */
.topnav a:hover {
  background-color: #D0D3D4;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #AF7AC5;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}
<br> 

    

    body {
      font-family: calibri light, sans-serif;
      margin: 2em;
    }

    h3 {
      font-style: regular:
          color: #333;
    }

    * {
      box-sizing: border-box;
    }
      

    /* Style inputs */
    input[type=text], select, textarea {
      width: 100%;
      padding: 12px;
      border: 1px solid #ccc;
      margin-top: 6px;
      margin-bottom: 16px;
      resize: vertical;
    }

    input[type=submit] {
      background-color: #4CAF50;
      color: white;
      padding: 12px 20px;
      border: none;
      cursor: pointer;
    }

    input[type=submit]:hover {
      background-color: #83677B;
    }

    /* Style the container/contact section */
    .container {
      border-radius: 5px;
      background-color: #f2f2f2;
      padding: 10px;
    }

    /* Create two columns that float next to eachother */
    .column {
      float: left;
      width: 50%;
      margin-top: 6px;
      padding: 20px;
    }

    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }

    /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 100px) {
      .column, input[type=submit] {
        width: 100%;
        margin-top: 0;
      }
    }

    div {
      background-color: #83677B;
      width: 1500px;
      border: 15px white;
      padding: 50px;
      margin: 20px;
    }
  </style>
</head>

 body {background-color: #F7F9F9 ;}  


<body>
    <h2>Demonstrating the Box Model</h2>

    <p>The CSS box model is essentially a box that wraps around every HTML element. It consists of: borders, padding, margins, and the actual content.</p>

    <div>This text is the content of the box. We have added a 50px padding, 20px margin and a 15px green border. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
  
</body>
</html>