/* Add a black background color to the top navigation */

.topnav {
  background-color: #501313;
  overflow: hidden;
  display:flex;
  
  justify-content:space-around;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: center;
  display:flex;
  display: block;
  color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 30px;
  background-color: #501313;
}

h1{
      font-family: 'Poppins', sans-serif;
      margin: 0em;
      font-size:5em;
  color: #ECB60F;
      
    }
/* Change the color of links on hover */
.topnav a:hover {
  background-color: #D0D3D4;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a:active {
  background-color: #AF7AC5;
  color: white;
  width:150px;
}
.topnav a:visited {
  background-color:#464545 ;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

    

    body {
      font-family: calibri light, sans-serif;
      margin-left:9%;
      margin-right:9%;
      color: white;
      
      
    }

    h3 {
      font-style: regular:
          color: white;

    }

    * {
      box-sizing: border-box;
      background-color:#077576;
  margin:0px;
  padding:0px;
    }
      

    /* Style inputs */
    input[type=text], select, textarea {
      width: 100%;
      padding: 12px;
      border: 1px solid #ccc;
      margin-top: 6px;
      margin-bottom: 16px;
      resize: vertical;
      
    }

    input[type=submit] {
      background-color: #6B031F;
      color: white;
      padding: 12px 20px;
      border: none;
      cursor: pointer;
      
    }

    input[type=submit]:hover {
      background-color: #6B031F;
      
    }

    /* Style the container/contact section */
    .container {
      border-radius: 5px;
      background-color: #6B031F;
      padding: 10px;
          }

    /* Create two columns that float next to eachother */
    .column {
      
      
      
      background-color: #6B031F;
    }

    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
      
    }
h2 ,div p ,label,input,select,option,textarea,label{
  background-color: #6B031F;
  color: white;
  
  
}
h1 {background-color: #6B031F;background-color:#077576;}
form{background-color: #6B031F;}

    /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 100px) {
      .column, input[type=submit] {
        width: 100%;
        margin-top: 0;
        
      }
    }
body div .container {
     background-color: #6B031F;
      width: 1500px;
      border: 15px white;
      padding: 50px;
      margin: 20px;
    }
header{  text-align:center; 
}

div{background-color:#6B031F;}
 body {background-color: #6B031F; }  
.internal{
  border:50px solid #6B031F;
  text-align:center;
  
   
  
}
::placeholder{
  color:white;
}

.hat{width:15%;

background-color:#6B031F;
float:flex;
.adjust2{
  display:flex;
  display:inline-block;
}

#datetime{
  font-size:1em;
}