/* CSS files add styling rules to your content */

body {
  font-family: source sans pro, sans-serif;
  margin: 2em;
}

h1 {
  f<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap" rel="stylesheet">
}

* {
  box-sizing: border-box;
}

.box {
  float: left;
  width: 33.33%;
  padding: 50px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.redbox {
  background-color: red;
}
.greenbox {
  background-color: green;
}
.bluebox {
  background-color: blue;
}
.yellowbox {
  background-color: yellow;
}
/* CSS files add styling rules to your content */

body {
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap" rel="stylesheet">
}

h1 {
  font-style: italic;
  color: #373fff;
}

* {
  box-sizing: border-box;
}

.box {
  float: left;
  width: 33.33%;
  padding: 50px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.redbox {
  background-color: red;
}
.greenbox {
  background-color: green;
}
.bluebox {
  background-color: blue;
}
.yellowbox {
  background-color: yellow;
}
/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}

* {
  box-sizing: border-box;
}

.box {
  float: left;
  padding: 50px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.redbox {
  background-color: red;
}
.greenbox {
  background-color: green;
}
.bluebox {
  background-color: blue;
}
.yellowbox {
  background-color: yellow;
}
}
.yellowbox {
  background-color: yellow;
}

.threecol 
{
  width: 33.33%
    
}
.twocol 
{
  width: 50%
    
}
.onecol 
{
  width: 100%
    
}

/* unvisited link */
a:link { <link rel="redbox" href="/index.html">
  color: red;
}

/* visited link */
a:visited { 
  color: green;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}

/* Use a media query to add a break point at 800px: */
@media screen and (max-width:800px) {
  .threecol, .twocol, .onecol {
    width:100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}
body {
 background-image: url("https://cdn.glitch.com/510698c7-4da3-4ed3-b7bc-645d6caab4e1%2Fphoto-1461696114087-397271a7aedc.jpg?v=1605065333551");
 background-color: #cccccc;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.active {
  background-color: blue;
}
</style>
</head>
<body>
