
h1{
  font-family: Poppins, sans-serif;
  margin: 0em;
  font-size:5vw;
  color: #ECB60F;
  font-family: 'Poppins', sans-serif;
  font-style: bold;
}

body {
  font-family: calibri light, sans-serif;
  margin: 2em;
  color: white;

}
*{
  background-color:#077576;
  margin:0px;
  padding:0px;
}
/* Add a black background color to the top navigation */
.topnav {
  background-color: #FACBF6;
  overflow: hidden;
  display:flex;
  justify-content:space-around;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: center;
  display:flex;
  color: #212F3D;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
  background-color: #FACBF6;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #D0D3D4;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #AF7AC5;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}
h1.life {
    color: white;
  font-size:3em;
}
body {background-color: #F7F9F9 ;}
header{  text-align:center;
}

