/* CSS files add styling rules to your content */

h1{
  font-family: Poppins, sans-serif;
  margin: 0px;
    font-size:5em;
  color: #ECB60F;
  font-style: bold;
  
}

body {
  font-family: calibri light, sans-serif;
  margin: 2em;
  color: white;
}
*{
  background-color:#077576;
  margin:0px;
  padding:0px;
  
}

/* Add a black background color to the top navigation */
.topnav {
  
  overflow: hidden;
  display:flex;
  justify-content:space-around;
  background-color: #501313;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: center;
  display:flex;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
  background-color: #501313;
    color: white;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #D0D3D4;
  color: black;
}
.topnav a:visited {
  background-color:#464545 ;
  color: white;
}

/* Add an active class to highlight the current page */
.topnav a:active {
  background-color: #AF7AC5;
  color: white;
  width:150px;
}
header{  text-align:center;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

p.important,h1.intro {
    color: white;
}

.center {
  display: block;
  padding:5px;
  margin-left:auto;
  margin-right:auto;
}

.quote
{font-size:2em;
text-align:center;
  font-family: 'Playfair Display', serif;
  color:white;
}
#datetime{
  font-size:1em;
}