/* CSS files add styling rules to your content */
body {background-color: #F7F9F9 ;}

h1{
  font-family: Poppins, sans-serif;
  margin: 0em;
  font-size:50px
  
}

body {
  font-family: calibri light, sans-serif;
  margin: 2em;
}

h1 {
  font-style: bold;
  color: #333;
  
}
*{
  background-color:#ADE2E8;
  margin:0px;
  padding:0px;
}

.wordinimg
{
  position:absolute;
  left:41%;
  top:40%;
  font-size:4em;
  color:white;
  background:none;
}
/* Add a black background color to the top navigation */
.topnav {
  
  overflow: hidden;
  display:flex;
  justify-content:space-around;
  background-color: #FACBF6;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: center;
  display:flex;
  color: #212F3D;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
  background-color: #FACBF6;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #D0D3D4;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #AF7AC5;
  color: white;
}
header{  text-align:center;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}


h1.intro {
    color: black;
}

p.important {
    color: black;
}

.center {
  display: block;
  padding:5px;
  margin-left:auto;
  margin-right:auto;
}

.quote{font-size:2em;
text-align:center;
  font-family: 'Playfair Display', serif;
  color:black;
}
